<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de mí</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos2.css') }}">
</head>
<cuerpo>
    <!-- =====================================================
         MENÚ DE NAVEGACIÓN
         ====================================================== -->
    <encabezamiento>
        <navegación clase="barra de navegación">
            <h2 clase="logo">
                Jennifer Eunice Yand Destine
            </h2>
            <ul clase="menú">
                <li><a href="#inicio">Inicio</a> </li>
                <li><a href="#sobre-mi">Sobre mí</a> </li>
                <li><a href="#datos">Datos</a></li>
                <li><a href="#proyectos">Proyectos</a></li>
                <li><a href="#contacto">Contacto</a></li>
            </ul>
        </navegación>
    </encabezamiento>
    <!--SECCIÓN INICIO -->
    <sección identificación="inicio"clase="inicio">
        <div clase="contenido-inicio">
            <div clase="texto-inicio">
                <pag clase="saludo">¡HOLA!, Bienvenido a mi perfil.</pag>
                <h1><durar>Jennifer Eunice Yand Destine</durar></h1>
                <h3>Estudiante de Ingeniería en Sistemas</h3>
                <pag>
                    En este sitio web presento información sobre mí,
                    mis habilidades y algunos de los proyectos que
                    lo realizó durante mi formación académica.
                </pag>
                <a href="#sobre-mi"clase="botón">Conocer más</a>
            </div>
            <div clase="foto">
              <img src="{{ url_for('static', filename='imagenes/imagen de Jennifer.jpg') }}" alt="Fotografía personal">
            </div>
        </div>
    </sección>
    <!-- SECCIÓN SOBRE MÍ -->
    <sección identificación="sobre-mi"clase="acerca de">
        <div clase="recipiente">
            <h2>Información Personal y Profesional</h2>
            <sección identificación="datos"clase="datos">
        </divclase="contenedor"> 
        <h1>Datos Personales</h1>
            <pag clase="nombre">Nombre:<durar>Jennifer Eunice Yand Destine</durar></pag>
            <pag clase="matrícula">Matrícula:<durar>24-SISN-009</durar></pag>
            <pag clase="carrera">Carrera:<durar>Ingeniería en Sistemas</durar></pag>
            <pag clase="universidad">Universidad:<durar>Universidad Dominicana O&M</durar></pag>
            
            </div>
            <div clase="sobre-la-cuadrícula">
                <div clase="Tarjeta de información">
                    <i clase="fas fa-usuario-graduado"></i>
                    <h3>
                        Perfil Académico
                    </h3>
                    <pag>
                        Apasionada por la tecnología, las redes y el desarrollo.
                        de sistemas. Con enfoque en crear soluciones eficientes
                        y escalables.
                    </pag>
                </div>
                <div clase="Tarjeta de información">
                    <i clase="código para portátil fas fa"></i>
                    <h3>
                        Habilidades
                    </h3>
                    <pag>
                        Manejo de redes, bases de datos, maquetación web con
                        HTML/CSS, JavaScript y control de versiones mediante
                        Git y GitHub.
                    </pag>
                </div>
                <div clase="Tarjeta de información">
                    <i clase="fa fa-diana"></i>
                    <h3>
                        Objetivos
                    </h3>
                    <pag>
                        Continuar ampliando mis conocimientos en el área.
                        de ingeniería y tecnología, participando en proyectos
                        innovador de alto impacto.
                    </pag>
                </div>
            </div>
        </div>